:root {
  --color-border-brand-accent-active: #193228;
  --color-border-brand-accent-focus: #34c598;
  --color-border-brand-accent-hover: #2b8165;
  --color-border-brand-accent-pressed: #34c598;
  --color-border-brand-muted-active: #193228;
  --color-border-brand-muted-focus: #34c598;
  --color-border-brand-muted-hover: #2b8165;
  --color-border-brand-muted-pressed: #34c598;
  --color-border-danger-active: #90251b;
  --color-border-danger-focus: #f12c25;
  --color-border-danger-hover: #d52b22;
  --color-border-danger-pressed: #f12c25;
  --color-border-divider-accent: #262828;
  --color-border-divider-muted: #262828;
  --color-border-info-active: #2e5994;
  --color-border-info-focus: #3893fb;
  --color-border-info-hover: #3683de;
  --color-border-info-pressed: #3893fb;
  --color-border-neutral-accent-active: #262828;
  --color-border-neutral-accent-focus: #e6e7e7;
  --color-border-neutral-accent-hover: #4d5150;
  --color-border-neutral-accent-pressed: #646a69;
  --color-border-neutral-muted-active: #1b1c1c;
  --color-border-neutral-muted-focus: #e6e7e7;
  --color-border-neutral-muted-hover: #3d4140;
  --color-border-neutral-muted-pressed: #5a5f5e;
  --color-border-success-active: #26863e;
  --color-border-success-focus: #22e362;
  --color-border-success-hover: #25c958;
  --color-border-success-pressed: #22e362;
  --color-border-warning-active: #956b27;
  --color-border-warning-focus: #fbb236;
  --color-border-warning-hover: #de9e32;
  --color-border-warning-pressed: #fbb236;
  --color-page-bg-default: #090909;
  --color-page-bg-muted: #171717;
  --color-surface-bg-brand-accent-active: #36ffc4;
  --color-surface-bg-brand-accent-hover: #35deab;
  --color-surface-bg-brand-accent-pressed: #34c598;
  --color-surface-bg-brand-ghost-hover: #152720;
  --color-surface-bg-brand-ghost-pressed: #1c3e31;
  --color-surface-bg-brand-muted-active: #193228;
  --color-surface-bg-brand-muted-hover: #245c48;
  --color-surface-bg-brand-muted-pressed: #2b8165;
  --color-surface-bg-functional-danger-accent-active: #ca2a21;
  --color-surface-bg-functional-danger-accent-hover: #90251b;
  --color-surface-bg-functional-danger-accent-pressed: #6c2016;
  --color-surface-bg-functional-danger-ghost-hover: #4c1a12;
  --color-surface-bg-functional-danger-ghost-pressed: #6c2016;
  --color-surface-bg-functional-danger-muted-active: #5b1d14;
  --color-surface-bg-functional-danger-muted-hover: #7e2219;
  --color-surface-bg-functional-danger-muted-pressed: #a1271c;
  --color-surface-bg-functional-elevated-active: #171717;
  --color-surface-bg-functional-elevated-hover: #262828;
  --color-surface-bg-functional-elevated-pressed: #353837;
  --color-surface-bg-functional-info-accent-active: #3895ff;
  --color-surface-bg-functional-info-accent-hover: #3683de;
  --color-surface-bg-functional-info-accent-pressed: #3474c5;
  --color-surface-bg-functional-info-ghost-hover: #1c283e;
  --color-surface-bg-functional-info-ghost-pressed: #23395b;
  --color-surface-bg-functional-info-muted-active: #1f304c;
  --color-surface-bg-functional-info-muted-hover: #2b4e81;
  --color-surface-bg-functional-info-muted-pressed: #3063a6;
  --color-surface-bg-functional-success-accent-active: #23d95e;
  --color-surface-bg-functional-success-accent-hover: #27b24f;
  --color-surface-bg-functional-success-accent-pressed: #279644;
  --color-surface-bg-functional-success-ghost-hover: #1a391e;
  --color-surface-bg-functional-success-ghost-pressed: #1f5429;
  --color-surface-bg-functional-success-muted-active: #1d4524;
  --color-surface-bg-functional-success-muted-hover: #226430;
  --color-surface-bg-functional-success-muted-pressed: #26863e;
  --color-surface-bg-functional-warning-accent-active: #f0ab34;
  --color-surface-bg-functional-warning-accent-hover: #c68d2e;
  --color-surface-bg-functional-warning-accent-pressed: #a77729;
  --color-surface-bg-functional-warning-ghost-hover: #4d3819;
  --color-surface-bg-functional-warning-ghost-pressed: #6f5020;
  --color-surface-bg-functional-warning-muted-active: #5d431c;
  --color-surface-bg-functional-warning-muted-hover: #825e23;
  --color-surface-bg-functional-warning-muted-pressed: #a77729;
  --color-surface-bg-neutral-accent-active: #f7f7f7;
  --color-surface-bg-neutral-accent-hover: #dee0df;
  --color-surface-bg-neutral-accent-pressed: #c1c5c4;
  --color-surface-bg-neutral-ghost-hover: #202221;
  --color-surface-bg-neutral-ghost-pressed: #2d302f;
  --color-surface-bg-neutral-muted-active: #262828;
  --color-surface-bg-neutral-muted-hover: #3d4140;
  --color-surface-bg-neutral-muted-pressed: #4d5150;
  --color-text-icon-functional-brand: #36ffc4;
  --color-text-icon-functional-danger: #ffa28d;
  --color-text-icon-functional-info: #b0c8ff;
  --color-text-icon-functional-link-active: #3895ff;
  --color-text-icon-functional-link-hover: #357cd2;
  --color-text-icon-functional-link-visited: #2e5994;
  --color-text-icon-functional-success: #abf5b2;
  --color-text-icon-functional-warning: #ffd99e;
  --color-text-icon-neutral-accent: #f7f7f7;
  --color-text-icon-neutral-disabled: #5a5f5e;
  --color-text-icon-neutral-muted: #7d8482;
  --color-text-icon-neutral-placeholder: #686f6d;
  --color-text-icon-on-surface-bg-on-brand-bg: #0e1814;
  --color-text-icon-on-surface-bg-on-danger-bg: #fff5f2;
  --color-text-icon-on-surface-bg-on-info-bg: #f7f9ff;
  --color-text-icon-on-surface-bg-on-neutral-bg-accent: #090909;
  --color-text-icon-on-surface-bg-on-neutral-bg-disabled: #888e8d;
  --color-text-icon-on-surface-bg-on-neutral-bg-muted: #454948;
  --color-text-icon-on-surface-bg-on-neutral-bg-placeholder: #79807e;
  --color-text-icon-on-surface-bg-on-success-bg: #0d170d;
  --color-text-icon-on-surface-bg-on-warning-bg: #20180d;
}
