:root {
  --color-border-brand-accent-active: #dffff2;
  --color-border-brand-accent-focus: #70ffce;
  --color-border-brand-accent-hover: #a4ffdd;
  --color-border-brand-accent-pressed: #70ffce;
  --color-border-brand-muted-active: #edfff8;
  --color-border-brand-muted-focus: #7cffd1;
  --color-border-brand-muted-hover: #c0ffe6;
  --color-border-brand-muted-pressed: #7cffd1;
  --color-border-danger-active: #ff846d;
  --color-border-danger-focus: #f42d26;
  --color-border-danger-hover: #f94837;
  --color-border-danger-pressed: #f42d26;
  --color-border-divider-accent: #dee0df;
  --color-border-divider-muted: #dee0df;
  --color-border-info-active: #94b8ff;
  --color-border-info-focus: #3a95ff;
  --color-border-info-hover: #589eff;
  --color-border-info-pressed: #3a95ff;
  --color-border-neutral-accent-active: #dee0df;
  --color-border-neutral-accent-focus: #353837;
  --color-border-neutral-accent-hover: #abafae;
  --color-border-neutral-accent-pressed: #888e8d;
  --color-border-neutral-muted-active: #eceded;
  --color-border-neutral-muted-focus: #353837;
  --color-border-neutral-muted-hover: #c1c5c4;
  --color-border-neutral-muted-pressed: #909594;
  --color-border-success-active: #8df19a;
  --color-border-success-focus: #24e664;
  --color-border-success-hover: #4be971;
  --color-border-success-pressed: #24e664;
  --color-border-warning-active: #ffce80;
  --color-border-warning-focus: #ffb537;
  --color-border-warning-hover: #ffbb4b;
  --color-border-warning-pressed: #ffb537;
  --color-page-bg-default: #f7f7f7;
  --color-page-bg-muted: #eceded;
  --color-surface-bg-brand-accent-active: #36ffc4;
  --color-surface-bg-brand-accent-hover: #36e8b3;
  --color-surface-bg-brand-accent-pressed: #35d2a2;
  --color-surface-bg-brand-ghost-hover: #cbffea;
  --color-surface-bg-brand-ghost-pressed: #b2ffe1;
  --color-surface-bg-brand-muted-active: #c0ffe6;
  --color-surface-bg-brand-muted-hover: #97ffd8;
  --color-surface-bg-brand-muted-pressed: #7cffd1;
  --color-surface-bg-functional-danger-accent-active: #ca2a21;
  --color-surface-bg-functional-danger-accent-hover: #90251b;
  --color-surface-bg-functional-danger-accent-pressed: #6c2016;
  --color-surface-bg-functional-danger-ghost-hover: #ffd6cb;
  --color-surface-bg-functional-danger-ghost-pressed: #ffbfaf;
  --color-surface-bg-functional-danger-muted-active: #ffcbbe;
  --color-surface-bg-functional-danger-muted-hover: #ffb19f;
  --color-surface-bg-functional-danger-muted-pressed: #ff927c;
  --color-surface-bg-functional-elevated-active: #fefffe;
  --color-surface-bg-functional-elevated-hover: #f7f7f7;
  --color-surface-bg-functional-elevated-pressed: #e6e7e7;
  --color-surface-bg-functional-info-accent-active: #2e5994;
  --color-surface-bg-functional-info-accent-hover: #27436d;
  --color-surface-bg-functional-info-accent-pressed: #1f304c;
  --color-surface-bg-functional-info-ghost-hover: #e5ecff;
  --color-surface-bg-functional-info-ghost-pressed: #c9d8ff;
  --color-surface-bg-functional-info-muted-active: #dde6ff;
  --color-surface-bg-functional-info-muted-hover: #bdd1ff;
  --color-surface-bg-functional-info-muted-pressed: #a2c0ff;
  --color-surface-bg-functional-success-accent-active: #247537;
  --color-surface-bg-functional-success-accent-hover: #1f5429;
  --color-surface-bg-functional-success-accent-pressed: #1a391e;
  --color-surface-bg-functional-success-ghost-hover: #dbfbdc;
  --color-surface-bg-functional-success-ghost-pressed: #c6f8c9;
  --color-surface-bg-functional-success-muted-active: #c6f8c9;
  --color-surface-bg-functional-success-muted-hover: #9cf3a5;
  --color-surface-bg-functional-success-muted-pressed: #71ed87;
  --color-surface-bg-functional-warning-accent-active: #ffb944;
  --color-surface-bg-functional-warning-accent-hover: #f0ab34;
  --color-surface-bg-functional-warning-accent-pressed: #de9e32;
  --color-surface-bg-functional-warning-ghost-hover: #ffe5bb;
  --color-surface-bg-functional-warning-ghost-pressed: #ffd38e;
  --color-surface-bg-functional-warning-muted-active: #ffdfad;
  --color-surface-bg-functional-warning-muted-hover: #ffd38e;
  --color-surface-bg-functional-warning-muted-pressed: #ffc567;
  --color-surface-bg-neutral-accent-active: #090909;
  --color-surface-bg-neutral-accent-hover: #262828;
  --color-surface-bg-neutral-accent-pressed: #353837;
  --color-surface-bg-neutral-ghost-hover: #eceded;
  --color-surface-bg-neutral-ghost-pressed: #dee0df;
  --color-surface-bg-neutral-muted-active: #e6e7e7;
  --color-surface-bg-neutral-muted-hover: #d5d8d7;
  --color-surface-bg-neutral-muted-pressed: #c1c5c4;
  --color-text-icon-functional-brand: #286d56;
  --color-text-icon-functional-danger: #be2920;
  --color-text-icon-functional-info: #326cb6;
  --color-text-icon-functional-link-active: #3895ff;
  --color-text-icon-functional-link-hover: #357cd2;
  --color-text-icon-functional-link-visited: #2e5994;
  --color-text-icon-functional-success: #247537;
  --color-text-icon-functional-warning: #a77729;
  --color-text-icon-neutral-accent: #090909;
  --color-text-icon-neutral-disabled: #888e8d;
  --color-text-icon-neutral-muted: #646a69;
  --color-text-icon-neutral-placeholder: #79807e;
  --color-text-icon-on-surface-bg-on-brand-bg: #0e1814;
  --color-text-icon-on-surface-bg-on-danger-bg: #fff5f2;
  --color-text-icon-on-surface-bg-on-info-bg: #f7f9ff;
  --color-text-icon-on-surface-bg-on-neutral-bg-accent: #f7f7f7;
  --color-text-icon-on-surface-bg-on-neutral-bg-disabled: #454948;
  --color-text-icon-on-surface-bg-on-neutral-bg-muted: #888e8d;
  --color-text-icon-on-surface-bg-on-neutral-bg-placeholder: #6f7573;
  --color-text-icon-on-surface-bg-on-success-bg: #f6fef6;
  --color-text-icon-on-surface-bg-on-warning-bg: #20180d;
}
